template
  #content.polls-content
    #pagination-row
      input#row-10(type="radio" name="pagination-radio" change.delegate="setPaginationAmount(10)" checked)
      input#row-25(type="radio" name="pagination-radio" change.delegate="setPaginationAmount(25)")
      input#row-50(type="radio" name="pagination-radio" change.delegate="setPaginationAmount(50)")
      span Polls per page:
      label.row-10(for="row-10") 10
      label.row-25(for="row-25") 25
      label.row-50(for="row-50") 50

    #polls-row
      #latest
        .title
          button.prev(click.delegate="changePage('prev', 'latest')") &lt;&lt;&lt;
          | Latest Polls Created
          button.next(click.delegate="changePage('next', 'latest')") &gt;&gt;&gt;
        ul
          li(repeat.for="poll of state.polls | sortpolls:'date':'descending' | repeatlimit:pagination.latest:pagination.perPage")
            a(route-href="route: poll; params.bind: { id: poll.id }")
              .canvas-wrapper
                canvas(id="latest-canvas-${poll.id}" style="width: 100%; height: 100%")
              .poll-name ${poll.name}

      #most
        .title
          button.prev(click.delegate="changePage('prev', 'most')") &lt;&lt;&lt;
          | Most Participated Polls
          button.next(click.delegate="changePage('next', 'most')") &gt;&gt;&gt;
        ul
          li(repeat.for="poll of state.polls | sortpolls:'votes':'ascending' | repeatlimit:pagination.most:pagination.perPage")
            a(route-href="route: poll; params.bind: { id: poll.id }")
              .canvas-wrapper
                canvas(id="most-canvas-${poll.id}" style="width: 100%; height: 100%")
              .poll-name ${poll.name}