template
  #footer
    #footer-note
      | Written by&nbsp;
      a.footer-link(href="https://www.freecodecamp.org/letsziggy" target="_blank") LetsZiggy
      | &nbsp;for&nbsp;
      a.footer-link(href='https://www.freecodecamp.org/challenges/build-a-voting-app', target='_blank') FreeCodeCamp Challenge
      | .
    #resources-content
      input#resources-checkbox(type="checkbox")
      label#resources-link(for="resources-checkbox") Resources
      label#resources-backdrop(for="resources-checkbox")
      #resources-popup
        label#resources-close(for="resources-checkbox") &#x2715;
        h5 Resources
        hr
        ul
          li
            | Handling password in the back-end (&nbsp;
            a(href="https://www.youtube.com/watch?v=aafEiEotMl0" target="_blank") Part 1
            | &nbsp;|&nbsp;
            a(href="https://www.youtube.com/watch?v=3LgminGdASQ" target="_blank") Part 2
            | &nbsp;|&nbsp;
            a(href="https://www.youtube.com/watch?v=Zw_EXmu52Vg" target="_blank") Part 3
            | &nbsp;|&nbsp;
            a(href="https://www.youtube.com/watch?v=w-jTTRY-nus" target="_blank") Part 4
            | &nbsp;)
          li
            a(href="https://codepen.io/developit/full/bEPoQR/" target="_blank") Material Design login form (HTML and CSS)
          li
            a(href="http://jsfiddle.net/mhsyfvv9/" target="_blank") Allow CSS to detect value change
          li
            a(href="https://codepen.io/manabox/pen/raQmpL" target="_blank") CSS radio buttons
          li
            a(href="https://codepen.io/diegoleme/full/surIK/" target="_blank") How to check repeat password on sign up
          li
            a(href="https://jdanyow.github.io/aurelia-converters-sample/" target="_blank") Limit repeating element in Aurelia.js
          li
            a(href="https://codepen.io/jamiecalder/pen/NrROeB" target="_blank") Chart.js stacked horizontal bars
          li
            a(href="https://stackoverflow.com/a/43658507" target="_blank") Chart.js bars aspect ratio issue
          li
            a(href="https://stackoverflow.com/a/42173513" target="_blank") Setting page title with nav parameter with Aurelia.js