template
  #content.login-content
    input#radio-signin(type="radio" name="login-panel" checked)
    input#radio-signup(type="radio" name="login-panel")
    input#radio-signreset(type="radio" name="login-panel")

    #login-panel
      label#signin-select(for="radio-signin" click.delegate="clearForm('signup')") Sign In
      label#signup-select(for="radio-signup" click.delegate="clearForm('signin')") Sign Up
      label#signreset-select Reset Password

    #login-container
      form()#signin
        fieldset.login-fieldset
          input#signin-username(type="text" placeholder="" pattern=".{4,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Username

        fieldset.login-fieldset
          input#signin-password(type="password" placeholder="" pattern=".{8,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Password

        fieldset.login-fieldset
          button(type="submit") Submit
          label#signreset-label(for="radio-signreset" click.delegate="clearForm('signin')") Forgot password

      form()#signup
        fieldset.login-fieldset
          input#signup-username(type="text" placeholder="john-doe or john_doe" pattern=".{4,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Username (Minimum length of 4)

        fieldset.login-fieldset
          input#signup-password(type="password" placeholder="" pattern=".{8,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Password (Minimum length of 8)

        fieldset.login-fieldset
          input#signup-repassword(type="password" placeholder="" pattern=".{8,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Re-enter Password

        fieldset.login-fieldset
          button(type="submit") Submit

      form()#signreset
        fieldset.login-fieldset
          input#signreset-username(type="text" placeholder="" pattern=".{4,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Username

        fieldset.login-fieldset
          input#signreset-password(type="password" placeholder="" pattern=".{8,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Password (Minimum length of 8)

        fieldset.login-fieldset
          input#signreset-repassword(type="password" placeholder="" pattern=".{8,}" onkeyup="this.setAttribute('data-length', this.value.length);" data-length="0" required)
          hr
          label Re-enter Password

        fieldset.login-fieldset
          button(type="submit") Submit
          label#signreset-cancel(for="radio-signin" click.delegate="clearForm('signreset')") Cancel